<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faida Chat Bot</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Welcome To Faida</h1>
        <h3>Our chat bot, named Faida, will help you with your financial questions</h3>
    </div>
    <div class="container">
        <div class="msg-header">
            <div class="active">
                <h4>Faida</h4>
                <h6><i class="fa fa-circle" aria-hidden="true"></i>
                    Now</h6>
            </div>
        </div>
        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <div class="msg-page">
                        {% from "includes/_messages.html" import render_message %}
                        {% for chat in chats %}
                            {{render_message(chat["user"], "outgoing")}}
                            {{render_message(chat["faida"], "received")}}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="msg-bottom">
                <div class="input-group">
                    {% from "includes/_formhelpers.html" import render_field %}
                    <form method="POST" action="">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    {{render_field(form.message, class="form-control", placeholder="Ask a question")}}
                                </div>
                            </div>
                            <div class="col-sm-4">
                                    <input type="submit" class="btn btn-success" value="Send Message">
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>